.header{
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    background-color: white;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: end;
    height: 70px;
    width: 100vw;
    gap: 40px;
    align-items: center;
    list-style: none;
    background-color: white;
    top: 0;
    

 

    
}
.navbar:hover{
    color: red;
}